@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-basic: #303030;
	--color-gray-DEFAULT: #E0E0E0;
	--color-gray-light: #F7F7F7;
	--color-gray-dark: #C2C2C2;
	--color-white: #ffffff;
	--color-hl: #1352ED;
	--color-hl-dark: #0D37A1;
	--color-hl-light: #1464FF;
	--color-sub: #4C3BFA;
	--color-sub-dark: #6A51FF;
	--color-sub-light: #41209E;
	--color-comp: #FA4200;
	--color-hl2: #ff0000;
}

html, body {
	font-family: 'SUIT Variable', "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 10px;
}

html, body, a, ul, ol, table, thead, tbody,
th, tr, td, li, a, h1, h2, h3, h4, h5, h6, p,
form, input, select, label, pre, code {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

ul, li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	word-spacing: -0.3rem;
	word-break: keep-all;
}
