.header {
	position: sticky;
	top: 0;
	z-index: 1050;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.2rem 2rem;
	background-color: color-mix(in srgb, var(--color-bg) 80%, transparent);
	backdrop-filter: blur(20px);
}

.logoLink {
	display: inline-block;
	padding: 0.5rem;
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color-hl);
}

.logoLink:hover {
	color: var(--color-hl-dark);
}

.actions {
	display: flex;
	gap: 0.8rem;
}

.actionLink {
	display: inline-block;
	padding: 0.5rem;
	font-size: 1.8rem;
	font-weight: 700;
}

.rssLink {
	color: var(--color-hl);
}

.rssLink:hover {
	color: var(--color-white);
	background-color: var(--color-hl);
}

.githubLink {
	color: var(--color-basic);
}

.githubLink:hover {
	color: var(--color-white);
	background-color: var(--color-basic);
}
