.nav {
	position: fixed;
	top: 7rem;
	right: calc((100vw - 1080px) / 2 - 320px);
	max-width: 300px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.link {
	display: inline-block;
	padding: 0.5rem;
	border-radius: 0.125rem;
	font-size: 1.4rem;
}

.active {
	background-color: var(--color-hl);
	color: var(--color-white);
}

.inactive {
	color: var(--color-gray-dark);
}

@media (max-width: 1400px) {
	.nav {
		display: none;
	}
}
